<div class="header">
    <div class="logo">
        <span class="accent">Ale</span>x<br>
        <span class="accent">C</span>ecilia<br>
        <span class="accent">Örn</span>berg<br>
    </div>
    <nav class="externals">
        <a href="https://www.linkedin.com/in/alex-%C3%B6rnberg/" class="navitem"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/Alx101" class="navitem"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://twitter.com/L0Katt" class="navitem"><i class="fab fa-twitter fa-2x"></i></a>
    </nav>
</div>
