$textColor: #e4e4e4;
$linkColor: #6b42a3;
$background: #2b2b2b;
$dividerColor: lighten($background, 10%);

html {
    background: $background;
    font-family: 'Tajawal', sans-serif;
    font-weight: 300;
    color:$textColor;
    padding:1em;
    text-align: center;
    font-size:16px;
}

body {
    max-width: 992px;
    width:100%;
    text-align: left;
    margin:0 auto;
}

a {
    color:$linkColor;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;

    &:hover {
        color:lighten($linkColor, 10%);
    }
}

.align-center {
    text-align: center;
}

.header {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.externals {
    border-top:1px solid $dividerColor;
    border-bottom:1px solid $dividerColor;
    margin:2em 0;
    padding:.5em;
    display: flex;
    flex:1;
    width: 100%;
    justify-content: center;
}

.navitem {
    display: inline-block;
    padding:10px;
    margin:0 5px;
}

.logo {
    display: block;
    font-size:32px;
}

.accent {
    color:white;
    font-weight: 500;
}

.project {
    position: relative;
    &__bg {
        z-index:1;
        background-size:cover;
        background-position: center;
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right: 0;
    }
    
    &__content {
        display: flex;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column;
        min-height: 300px;
        padding:2em;
        text-align:left;
        position: relative;
        z-index:2;
        background: -moz-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(43,43,43,1) 1%, rgba(43,43,43,0) 100%);
        background: -webkit-linear-gradient(left, rgba(43,43,43,1) 0%,rgba(43,43,43,1) 1%,rgba(43,43,43,0) 100%);
        background: linear-gradient(to right, rgba(43,43,43,1) 0%,rgba(43,43,43,1) 1%,rgba(43,43,43,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#002b2b2b',GradientType=1 );
    }

    &__description {
        max-width: 50%;
        font-size: 18px;
        font-weight: normal;
    }

    &__title {
        font-weight: bold;
        font-size:28px;
    }

    &__link {
        margin-top:2em;
    }
}

.content {
    margin-bottom: 3em;
    &--project {
        border-left: 4px solid darken(saturate($linkColor, 15%), 10%);
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -ms-transition: all 250ms;
        -o-transition: all 250ms;
        transition: all 250ms;
        &:hover {
            border-left: 4px solid saturate($linkColor, 15%);
        }
    }
}


.button {
    color:white;
    background-color: saturate($linkColor, 15%);
    text-transform: uppercase;
    font-weight: bold;
    border-bottom:4px solid darken(saturate($linkColor, 15%), 10%);
    padding:10px 15px;
    padding-top:14px;
    text-decoration: none;
    line-height: 1.5;

    border-radius:5px;

    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;


    &:hover {
        color: darken(white, 10%);
        background-color: $linkColor;
    }

    &:active {
        transform:translateY(4px);
        background-color: lighten($linkColor, 15%);
        border-bottom:0 solid darken(saturate($linkColor, 15%), 10%);
    }
}


.container {
    margin:0 auto;
    max-width:650px;
}